<%- model_class = Thing -%>
<div class="page-header">
  <h1><%=t '.title', :default => @thing.name %></h1>
</div>

<dl class="dl-horizontal">
</dl>

<div>
    <p>Notes</p>
    <% @thing.notes.each do |note| %>
      <div class="row">
          <div class="col-md-3"><%= link_to(note.created_at, note_path(note)) %></div>
          <div class="col-md-9"><%= sanitize format_markdown(note.text) %></div>
      </div>
    <% end %>
</div>

<p>&nbsp;</p>

<p>
    <%= link_to "New note", url_for(controller: "notes", action: "new", thing_id: @thing.id)  %>
</p>

<%= link_to t('.back', :default => t("helpers.links.back")),
              things_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_thing_path(@thing), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              thing_path(@thing),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
