<%- model_class = Note -%>
<p>
<div><%= link_to "(#{@note.thing.name})", thing_path(@note.thing) %></div>
</p>
<div class="page-header">
  <strong><%=t '.title', :default => @note.created_at.to_s %></strong>
</div>


<dl class="dl-horizontal">
    <div>
        <div><%= @note.text %></div>
    </div>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")), notes_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_note_path(@note), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              note_path(@note),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
